.team-container {
  border-style: solid;
  background-color: transparent;
  border-color: #475569;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 150px;
  width: 300px;
  padding: 10px;
}
.vk {
  height: 100px;
  width: 100px;
}
.main-heading1 {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 22px;
}
.blog-item-link {
  color: #000000;
  text-decoration: none;
}
